p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

a {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #ffffff;
}

a:hover {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #b2b2b2;
}

h1 {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    font-size: 2.3em;
}

h2 {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    font-size: 2em;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 1.5em;
}


img {
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;

}

/*SPLASH*/

#splash {
    width: 100vw;
    height: auto;
}

#splash_video {
    width: 100vw;
    height: auto;
    max-height: 100vh;
    overflow: hidden;
}

#splash_video video {
    width: 100vw !important;
    height: auto;
}


/*FØRSTE*/

#første {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3vw 20vw;
}

#første .txt {
    flex-grow: 1;
}

/*ANDEN*/

#anden {
    background-color: #404A59;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3vw 20vw;
}

#anden .txt {
    flex-grow: 1;
}

/*TREDJE*/

#tredje h2 {
    margin: 0vw 0vw 2vw 0vw;

}

#tredje {
    background-color: #EAEAEA;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3vw 15vw;
}

#tredje .img_txt {
    align-items: center;
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    direction: row;
}

#tredje .txt {
    flex-basis: 300px;
    flex-grow: 1;
    padding: 0vw 0vw 0vw 3vw;
}


#tredje .img {
    flex-basis: 400px;
    flex-grow: 1;
    padding: 0vw 3vw 0vw 0vw;
}

/*FJERDE*/

#fjerde {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3vw 20vw;
}

#fjerde .txt {
    flex-grow: 1;
}



/*FEMTE*/

#femte {
    color: #ffffff;
}

#femte {
    background-color: #3e4857;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 3vw 10vw;
}

#femte .img_txt {
    flex-basis: 300px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#femte .col {
    flex-basis: 150px;
    flex-grow: 1;
    padding: 1vw;
}

/*SJETE*/

#sjete {
    display: flex;
    flex-wrap: wrap;
    padding: 5vw 20vw;
}

#sjete .txt {
    flex-grow: 1;
}

/*SJETE*/

#syvende {
    background-color: #EAEAEA;
    display: flex;
    flex-wrap: wrap;
    padding: 3vw 20vw;

}

#sjete .txt {
    flex-grow: 1;
}

/*FORM*/

#form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2vw 20vw;

}

#form form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    padding: 1vw 1vw;
    margin: 1vw 0vw;
    background-color: #EAEAEA;
    border: 2px solid #000000;
    border-radius: 10px;
}

textarea {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    padding: 1vw 1vw;
    margin: 1vw 0vw;
    background-color: #EAEAEA;
    border: 2px solid #000000;
    border-radius: 10px;
}

button {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 1.3vw 1vw;
    margin: 1vw 20vw;
    background-color: #EAEAEA;
    border: 2px solid #000000;
    border-radius: 10px;
}

button:hover {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 1.3vw 1vw;
    margin: 1vw 20vw;
    background-color: #3e4857;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
}


/*FOOTER*/

footer {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    padding: 2vw 20vw;

}

footer a {
    flex-grow: 1;
}

/*VIDEOPORTFOLIO*/

#videoportfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2vw 20vw;
}

#videoportfolio video {
    width: 100%;
    height: auto;
    flex-basis: 300px;
    flex-grow: 1;
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 562px) {

    #femte .img_txt {
        flex-basis: 300px;
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

}
